*{
    margin: 0;
}
:root{
    --background-color: hsla(216, 96%, 9%, 0.807);
    --color: #fff;
    --header-background:#333;
    --answer-bg:hsla(0, 0%, 50%, 0.05);
    --answer-color: #281c1c;
    --border-color: hsla(180, 0%, 44%, 0.535);
}
body{
    font-family: Arial, sans-serif;
}
:root{
    --background-color: hsla(216, 96%, 9%, 0.807);
    --color: #fff;
    --header-background:#333;
    --answer-bg:hsla(0, 0%, 50%, 0.234);
}
header{
    margin: 0 0 15px 0;
    padding: 15px 0;
    background-color: #333;
    color: #fff; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
header a{
    margin: 0;
    padding: 10px 15px;
    font-size: 12px;
    border: solid;
    color: #fff;
    box-shadow: 0 0 10px rgb(113, 113, 113);
    border-radius: 5px;
}
.content-title{
    text-align: center;
    margin: 10px;
}
/*OPTIONS*/
.option-container{
    display: flex;

}
.conics-option{
    position: relative;
    display: inline-block;
    margin: 0 10px;
}
.option-btn {
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: solid 3px var(--border-color);
    border-radius: 10px;
    cursor: pointer;
}
.option-content{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    border-radius: 10px;
}
.option-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: none;
    border: solid 1px;
    display: block;
    text-align: center;
}
.option-content a:hover {
    background-color: #333;
    color: #fff;
}
.conics-option:hover .option-content {
    display: block;
}
/**/
.container{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} 
.parabolaGF-container{
    width: 350px;
    height: 100%;
    padding: 20px; 
    border: none;
    border-radius: 5px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(113, 113, 113);
}
.parabolaGF-container h1{ 
    font-size: 20px;
    text-align: center;
}
.parabolaGF-container input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.transform {
    padding: 10px 20px;
    background-color: #333;
    color: hsl(240, 83%, 67%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center; 
    font-weight: bold;
}
/*Answer Container*/
.parabolaGF-answer-container{
    padding: 20px;
    width: 600px;
    box-shadow: 0 0 10px rgb(113, 113, 113);
    border-radius: 10px;
    background-color: #fff;
    visibility: hidden;
}
.answer{
    border: solid 1px var(--border-color);
    padding: 10px;
    margin: 10px 0;
    width: 95%; 
} 
.parabolaGF-answer-container .answer-title{
    font-size: 30px;
    text-align: center;
}
.parabolaGF-answer-container h1{
    font-size: 18px;
} 



@media only screen and (max-width: 643px) {
    header a{
        padding: 10px;
        font-size: 10px;
    }
    /*Options*/
    .option-container{
        display: block;
    }
    .option-btn{
        font-size: 13px;
        width: 200px;
        margin: 10px 0;
    } 
    .option-content{
        z-index: 1;
        width: 200px;
    }
    /**/
    .content-title{
        font-size: 15px;
    }
    .parabolaGF-container{
        margin: 15px 10px;
        text-align: center;
    }
    .parabolaGF-container input{
        text-align: center;
    }
    .parabolaGF-answer-container{
        margin: 20px 8px;
    }
    .parabolaGF-answer-container h1{
        font-size: 14px;
    }
    /*Graph*/
    .graph canvas{
        width: 100%;
    }
}