*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
}  
 
:root{
    --background-color: hsla(216, 96%, 9%, 0.807);
    --color: #fff;
    --header-background:#333;
    --answer-bg:hsla(0, 0%, 50%, 0.05);
    --answer-color: #281c1c;
    --border-color: hsla(180, 0%, 44%, 0.535);
} 
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px 0;
} 
header{
    margin: 0 0 15px 0;
    padding: 15px 0;
    background-color: #333;
    color: #fff; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
header a{
    margin: 0;
    padding: 10px 15px;
    font-size: 12px;
    border: solid;
    color: #fff;
    box-shadow: 0 0 10px rgb(113, 113, 113);
    border-radius: 5px;
}
.content-title{
    text-align: center;
    margin: 10px;
}
/*OPTIONS*/
.option-container{
    display: flex;

}
.conics-option{
    position: relative;
    display: inline-block;
    margin: 0 10px;
}
.option-btn {
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: solid 3px var(--border-color);
    border-radius: 10px;
    cursor: pointer;
}
.option-content{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    border-radius: 10px;
}
.option-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: none;
    border: solid 1px;
    display: block;
    text-align: center;
}
.option-content a:hover {
    background-color: #333;
    color: #fff;
}
.conics-option:hover .option-content {
    display: block;
}
/**/
/*GIVEN*/
.circleSF-container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    width: 300px;
    height: 100%;
    padding: 20px 25px;
    color: var(--answer-color);
}
.circleSF-container{
    font-size: 10px;
}
label{
    font-size: 15px;
    font-weight: bold;
}

.circleSF-container input{
    width: 100%;
    padding: 10px 5px;
    margin: 10px 0;
}
.transform{
    margin: 20px;
    padding: 8px 10px;
    font-weight: bold;
    background-color: #333;
    color: hsl(240, 83%, 67%);
    margin: 0 auto;
    width: 100%;
}
/*ANSWERS*/
.circle-answer-container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    margin: 0;
    width: 700px;
    height: 100%;
    text-align: justify;
    visibility: hidden;
}
.title{
    margin: 0;
    padding: 10px;
}

.answer{
    background-color: var(--answer-bg);
    padding: 10px 0 10px 10px;
    margin: 10px 0;
    border: 1px solid var(--border-color);
    color: var(--answer-color);
}
.result{
    background-color: var(--answer-bg);
    padding: 10px;
    margin: 20px 10px;
}
.all-steps h1{
    font-size: 18px;
}
.final{
    font-size: 30px;
}

/*Expand*/
.expanding{
    display: none;
    margin-bottom: 10px;  
    margin: 10px 0;
    padding: 10px;
    color: var(--answer-color);
    border: 1px solid var(--border-color); 
    line-height: 15px;
    background-color: var(--answer-bg)
} 
.expanding p{
    margin: 0px 0;
}
.expanding h1{
    font-size: 15px;
    margin: 10px 0;
    color: black;
}
.expand-btn{
    padding: 5px;
    font-weight: bold;
} 
/*Reminder*/
.reminderContainer{
    display: none;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: solid;
    width: 250px;
    margin: 0 auto;
 }
 #message {
     margin-top: 10px;
     font-size: 20px;
     margin: 40px 0;
     text-align: center;
 }
 #showMessageBtn{
     margin: 30px auto;
     padding: 8px 5px;
     background-color: hsla(120, 97%, 61%, 0.658);
     border-radius: 10px;
     width: 150px;
     font-size: 15px;
 }
 .showAnswerBtn{
    padding: 5px 10px;
    background-color: green;
    margin: 10px auto;
    width: 300px;
    border: solid 1px;
    border-radius: 8px;
    color: white;
 }
 .finalAnswerBgColor{
    background-color: hsl(60, 78%, 75%);
}

@media only screen and (max-width: 643px) {
    header a{
        padding: 10px;
        font-size: 10px;
    }
    /*Options*/
    .option-container{
        display: block;
    }
    .option-btn{
        font-size: 13px;
        width: 200px;
        margin: 10px 0;
    }
    .option-content{
        z-index: 1;
        width: 200px;
    }
    /**/
    /*Container*/
    .container{
        margin: 10px 10px;
    }
    .circleSF-container{
        margin-bottom: 20px;
        text-align: center;
    }
    .circleSF-container h1{
        font-size: 18px;
        text-align: center;
    }
    .circleSF-container input{
        text-align: center;
        width: 200px;
    }
    .transform{
        margin: 0 auto;
        border-radius: 10px;
    }
    /*ANSWER*/
    .circle-answer-container h1{
        font-size: 20px;
    }
    /**/
    .steps{
        font-size: 15px;
        text-align: left;
    }
    .steps .answer{
        margin: 10px 0;
    }
    .steps h1{
        font-size: 17px;
        word-spacing: 1px;
    }
    /*EXPANDING*/
    .expanding{
        line-height: normal;
        margin: 0;
        padding: 8px 5px;
        text-align: left;
    }
    .expanding h1{
        word-spacing: normal;
    }
    .expanding p{
        font-size: 14px; 
    }
    .final{
        font-size: 18px;
    }
    /*Reminder*/
.reminderContainer{
    font-size: 13px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    }
    #message {
    margin-top: 10px;
    font-size: 20px;
    margin: 40px 0;
    }
    #showMessageBtn{
    margin: 30px 0;
    padding: 10px 10px;
    border-radius: 10px;
    width: 150px;
    font-size: 15px;
    }
.showAnswerBtn{
    width: 100%;
    }
}