body{
    margin: 0;
    padding: 0;
    overflow-x: hidden ;
    font-family: Arial, sans-serif;
}
:root{
    --background-color: hsla(216, 96%, 9%, 0.807);
    --color: #fff;
    --header-background:#333;
    --answer-bg:hsla(0, 0%, 50%, 0.05);
    --answer-color: #281c1c;
    --border-color: hsla(180, 0%, 44%, 0.535);
}
/*Answer*/
.answer, .given{
    border: 1px solid var(--border-color);
    background-color: var(--answer-bg);
    margin: 10px 10px;
    padding: 10px 15px;
    color: #333;
}
.given-title{
    font-size: 18px;
    margin: 0 10px;
}
math{
    font-size: 15px;
}
.container{
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-around;
   margin: 10px 0;
   padding: 0;
}  
/*HEADER*/  
header{
    margin: 0 0 15px 0;
    padding: 15px 0;
    background-color: #333;
    color: #fff; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
header a{
    margin: 0;
    padding: 10px 15px;
    font-size: 12px;
    border: solid;
    color: #fff;
    box-shadow: 0 0 10px rgb(113, 113, 113);
    border-radius: 5px;
}
.content-title{
    text-align: center;
    margin: 10px;
}
/*OPTIONS*/
.option-container{
    display: flex;

}
.conics-option{
    position: relative;
    display: inline-block;
    margin: 0 10px;
}
.option-btn {
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: solid 3px var(--border-color);
    border-radius: 10px;
    cursor: pointer;
}
.option-content{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    border-radius: 10px;
}
.option-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: none;
    border: solid 1px;
    display: block;
    text-align: center;
}
.option-content a:hover {
    background-color: #333;
    color: #fff;
}
.conics-option:hover .option-content {
    display: block;
}
/**/
.circleGF-container{
    width: 400px;
    height: 100%;
    margin: 0;
    padding: 20px;
    border: none;
    border-radius: 5px;
    border-radius: 20px;
    color:#333;
    box-shadow: 0 0 10px rgb(113, 113, 113);
 
}
.circleGF-container h1{
    font-size: 25px;
}
.circleGF-container input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.transform {
    padding: 10px 20px; 
    background-color: #333;
    color: hsl(240, 83%, 67%);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    display: flex;
    text-align: center; 
    justify-content: center;
}
/*YUNG ANSWERS*/ 
.circleGF-answer-container {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    height: 100%;
    padding: 20px;
    margin: 0 0 0 0;
    box-shadow: 0 0 10px rgb(113, 113, 113);
    border-radius: 10px;
    visibility: hidden;
}
.circleGF-answer-container .answer-title{
    font-size: 30px;
    margin: 0;
    padding: 10px 0;
}
.steps-container h1{
    font-size: 15px;
}
.steps-container {
    margin-top: 10px;
    margin-bottom: 80px;
}
/*Graph*/
.circleGF-answer-container .graph-value{
    width: 100%; 
    margin: 10px 0;
    padding: 10px 0;
    background-color: transparent;
    align-items: center;
}
.circleGF-answer-container .graph-value h1{
    margin: 0 10px;
}
.graph-recom{
    margin: 0 5px;
}
/*MOBILE VIEW*/
@media only screen and (max-width: 643px) {
    /*HEADER*/
    body{
        margin: 0;
        padding: 0;
    }  
    header a{
        padding: 10px;
        font-size: 10px;
    } 
    /*Options*/
    .option-container{ 
        display: block;
    }
    .option-btn{
        font-size: 13px;
        width: 200px;
        margin: 10px 0;
    }
    .option-content{
        z-index: 1;
        width: 200px;
    }
    /**/
    .content-title{
        font-size: 15px;
    }
    
    /*container*/
    .circleGF-container{
        margin: 20px 10px;
        padding: 20px;
        text-align: center;
    }
    .circleGF-container input{
        text-align: center;
    }
    .circleGF-container h1{
        font-size: 18px;
        text-align: center;
    }
    /*Answer container*/
    .given-title, .given{
        text-align: center;
    }
    .circleGF-answer-container {
        width: 100%;
        height: 100%;
        margin: 10px 8px;
        padding: 0;
    }
    .circleGF-answer-container h1{
        margin: 0 10px;
    }
    .circleGF-answer-container .answer-title{
        font-size:20px;
        padding: 20px;
        text-align: center;
    }
    .standard-form{
        word-spacing: 2px;
    }
    .standard-form h1{
        font-size: 20px;
    }
    /**/
    .circleGF-answer-container .graph-value{
        text-align: center;
        width: 300px;
        margin: 10px auto;
        padding: 10px 0;
    }
    .circleGF-answer-container .graph-value h1{
        margin: 0;
    }
    /*Graph*/
    .graph #canvas{
        width: 100%;
    }
}